#Credentials
.env

#PHP dependencies
/vendor/

/node_modules

# Python Virtual Environment & Cache
venv/
__pycache__/


# AI Model Files
xlmr_satisfaction_regressor/
*.safetensors
*.bin


# OS & IDE junk files
.DS_Store
.idea/
.vscode/

# Log files
*.log